
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif


}

:root{
    /* CSS HEX */
    --thistle: #D1BFC7ff;
    --cambridge-blue: #7B9187ff;
    --sky-blue: #78C2D3ff;
    --persimmon: #EF560Aff;
    --melon: #EBB2ABff;
    --midnight-green: #123A3Dff;
    --black: #040B07ff;
}

body{
    display:flex;
}


.sidebar{
    width:33vw;
    min-width: 33vw;
    height: 100vh;
    position:relative;
    color:white;
}

.logo-background{
    position:absolute;
    top:20%;
    width:inherit;
    height:20vh;
    background-color: rgb(0,0,0,0.4);
}

.logo{
    position:absolute;
    top:20%;
    left:45%;

}

.copyright{
    position: absolute;
    bottom:1%;
    left:39%;
    text-align: center;
}
img{
    width:inherit;
    min-width: inherit;
    height: 100vh;
}

.signup-form-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.title-form, .form-body, .form-submit{


    height:33vh;
    width:67vw;
    padding:2em;
    background-color: var(--thistle);
}

.form-body{
    display:flex;
    flex-direction: column;
    background-color: var(--midnight-green);
    gap: 1em;
}
.form-container-text{
    display:flex;
    gap: 2em;
  
}
.form-title{
    font-size: 22px;
    font-weight: bold;
    color:white;
}
.input-group{
    flex: 1;
    display:flex;
    color:white;
    flex-direction: column;
    padding:5px;
}

label{
    padding:5px;
}

input{
    padding:5px;
    border-radius: 5px;
}

input:active{
    border-color:rgb(42, 80, 48);
}

.submit-button{
    background-color: var(--cambridge-blue);
    padding:1em;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    width:20em;
}

.title-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap:3em;

}

.info-text{
    width:50vw;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 15px;
}
