
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;


}

:root{
    /* CSS HEX */
    --thistle: #D1BFC7ff;
    --cambridge-blue: #7B9187ff;
    --sky-blue: #78C2D3ff;
    --persimmon: #EF560Aff;
    --melon: #EBB2ABff;
    --midnight-green: #123A3Dff;
    --black: #040B07ff;
}

body{
    display:flex;
}

.sidebar{
    width:33vw;
    min-width: 33vw;
    height: 100vh;
}
img{
    width:inherit;
    min-width: inherit;
    height: 100vh;
}

.signup-form-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.title-form, .form-body, .form-submit{


    height:33vh;
    width:67vw;
    padding:2em;
    background-color: var(--thistle);
}

.form-body{
    display:flex;
    background-color: var(--midnight-green);
    gap:4em;
}

.input-group{
    flex: 1;
    display:flex;
    color:white;
    padding:15px;
    flex-direction: column;
}

.submit-button{
    background-color: var(--cambridge-blue);
    padding:1em;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    width:20em;
}

.title-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap:3em;

}

.info-text{
    width:50vw;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 15px;
}
