
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif


}

:root{
    /* CSS HEX */
    --thistle: #D1BFC7ff;
    --cambridge-blue: #7B9187ff;
    --sky-blue: rgb(213, 236, 240);
    --persimmon: rgb(240, 119, 72);
    --melon: #EBB2ABff;
    --midnight-green: rgb(250, 209, 156);
    --black: #040B07ff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
    display:flex;
}


.sidebar{
    width:33vw;
    min-width: 33vw;
    height: 100vh;
    position:relative;
    color:white;
}

.logo-background{
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:20%;
    width:inherit;
    height:20vh;
    background-color: rgb(255,255,255,0.5);
}

.logo-text{
    padding-left: 15px;
    font-size: 42px;
    font-weight: bolder;
    color: black;
}

.copyright{
    position: absolute;
    bottom:1%;
    left:39%;
    text-align: center;
}
img{
    width:inherit;
    min-width: inherit;
    height: 100vh;
}

.signup-form-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.title-form, .form-body, .form-submit{


    height:30vh;
    width:67vw;
    padding-left:25px;
    padding:15px;
    background-color: var(--sky-blue);
    color:rgb(78, 74, 74);
}

.form-body{
    display:flex;
    flex-direction: column;
    background-color: var( --persimmon);
    gap: 1em;
    color:black;
    box-shadow: 5px 2px 2px grey;
    border-radius: 5px;
}

.img-ref:visited,
.img-ref:link{
    color:white;
}

.form-container-text{
    display:flex;
    gap: 2em;
  
}
.form-title{
    font-size: 22px;
    font-weight: bold;
    color:black;
}

input:valid{
    outline: none;
    border-width: 3px;
    border-color:rgb(75, 150, 78);
}

.login{
    color:var(--persimmon);
    font-weight: bolder;
}

input:invalid{
    outline: none;
    border-width: 3px;
    border-color:rgb(97, 7, 7);
}
.input-group{
    flex: 1;
    display:flex;
    color:black;
    flex-direction: column;
    padding:5px;
}

.logo-img{
    height:50px;
    width:50px;
    color: white;
}

label{
    padding:5px;
}

button,
input,
select,
textarea{
    font-family:inherit;
    font-size:100%;
    width: 250px;
    padding:0;
    margin:0;
    box-sizing: border-box;
}

input{
    padding:5px;
    border-radius: 10px;
    outline:none;
    box-shadow: none;
    border-color:var(--thistle);
    border-style: solid;
    border-width: 2px;
}

input:focus{
    outline: none;
    border-width: 3px;
    border-color:var(--sky-blue);
    box-shadow: 5px 2px 2px var(--cambridge-blue);
}

.submit-button{
    background-color: var(--persimmon);
    padding:1em;
    border-radius: 5px;
    color:black;
    font-weight: bold;
    width:20em;
}

.title-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap:3em;

}

.info-text{
    width:50vw;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 15px;
}

.log-in{
    padding-top:20px;
    padding-left:15px;
}
